.card-brand img{
    width: 100px;
}
.card-brand {
    width: 200px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.q img {
    width: 150px;


}
.q {
    width: 200px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}