.right-button-box {
    width: 180px;
    height: 120px;
    background: rgb(193, 27, 27);
    position: fixed;
    z-index: 20;
    bottom: 30px;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
}

.right-button-box button {
    border: none;
    outline: none;
    padding: 6px;
    border-radius: 6px;
}

.right-shop-box {
    height: 100vh;
    width: 400px;
    background-color: aliceblue;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 1000   ;
}
.right-shop-box-true {
    right: 0;
}
.right-shop-button  .cont-button {
    width: 26px;
    background-color: lightgray;
    height: 70px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-weight: 700;
}